@import "./variables.scss";
.prueba{
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: $background;
    border-radius: 50px;
    margin-bottom: 20px;
    margin: 30px;
}
.image{
    width: $whidthImage;
    height: $heightImage;
    float: left;
}
.contenedor{
    flex: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 30px;
    .testimonio{
        font-size: $fontSize;
        font-style: $font-style;
    }
    .cargoTestimonio{
    font-style: $font-style;
    }
    .textoTestimonio{
        font-size: $fontSize;
    }

    .title{
        text-align: center;
        font-size: $fontSize;
    }
}
h1{
    text-align: center;
}
